# Object files
*.o
*.ko
*.obj
*.elf
.dep
*.lss
*.lst
*.map
*.sym

# Precompiled Headers
*.gch
*.pch

# Libraries
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
*.eep

# Debug files
*.dSYM/

# KiCAD Backup
*.bak
*.kicad_pcb-bak

# Dateibrowser
.directory
thumbs.db
